In [ ]:
import pandas as pd   # Ler os csv
import numpy as np    # Processar grande quantidade de dados. 
import matplotlib.pyplot as plt   # Interpretar dados com graficos
import seaborn as sns # Extensão da matplot. (Correlação e etc)
#import sklearn
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

In [ ]:
# Usando pandas.
df1 = pd.read_csv("/content/train_data.csv")
df2 = pd.read_csv("/content/train_data_dictionary.csv")
df3 = pd.read_csv("/content/test_data.csv")
df4 = pd.read_csv("/content/sample_sub.csv")


data = pd.read_csv("/content/train_data.csv")
dicionario = pd.read_csv("/content/train_data_dictionary.csv")
test = pd.read_csv("/content/test_data.csv")
sample = pd.read_csv("/content/sample_sub.csv")

In [ ]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')
Index(['Column', 'Description'], dtype='object')
Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit'],
      dtype='object')
Index(['case_id', 'Stay'], dtype='object')

In [ ]:
df1.info()
df3.info()
df2.info()

# Contar quantos NÃO NULOS tem.

df1.isnull().sum()
df3.isnull().sum()
df2.isnull().sum()

# (train_data, test_data, train_dictionary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137057 entries, 0 to 137056
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            137057 non-null  int64
 1   Hospital_code                      137057 non-null  int64
 2   Hospital_type_code                 137057 non-null  object
 3   City_Code_Hospital                 137057 non-null  int64
 4   Hospital_region_code               137057 non-null  object
 5   Available Extra Rooms in Hospital  137057 non-null  int64
 6   Department                         137057 non-null  object
 7   Ward_Type                          137057 non-null  object
 8   Ward_Facility_Code                 137057 non-null  object
 9   Bed Grade                          137022 non-null  float64
 10  patientid                          137057 non-null  int64
 11  City_Code_Patient                  134900 non-null  float64
 12  Type of Admission                  137057 non-null  object
 13  Severity of Illness                137057 non-null  object
 14  Visitors with Patient              137057 non-null  int64
 15  Age                                137057 non-null  object
 16  Admission_Deposit                  137057 non-null  float64
dtypes: float64(3), int64(6), object(8)
memory usage: 17.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Column       18 non-null     object
 1   Description  18 non-null     object
dtypes: object(2)
memory usage: 416.0+ bytes

Column         0
Description    0
dtype: int64

In [ ]:
# Ver QUANTOS nulos tem
test.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [ ]:
data.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [ ]:
data.drop(['case_id','patientid'], axis = 1, inplace=True)   
data2.drop(['case_id','patientid'], axis = 1, inplace=True)  

# inplace=True é pq quando apaga aqui no dataframe, ele não apaga do original, então não queremos uma copia mas sim uma sobrescrição.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Hospital_code                      318438 non-null  int64
 1   Hospital_type_code                 318438 non-null  object
 2   City_Code_Hospital                 318438 non-null  int64
 3   Hospital_region_code               318438 non-null  object
 4   Available Extra Rooms in Hospital  318438 non-null  int64
 5   Department                         318438 non-null  object
 6   Ward_Type                          318438 non-null  object
 7   Ward_Facility_Code                 318438 non-null  object
 8   Bed Grade                          318325 non-null  float64
 9   City_Code_Patient                  313906 non-null  float64
 10  Type of Admission                  318438 non-null  object
 11  Severity of Illness                318438 non-null  object
 12  Visitors with Patient              318438 non-null  int64
 13  Age                                318438 non-null  object
 14  Admission_Deposit                  318438 non-null  float64
 15  Stay                               318438 non-null  object
dtypes: float64(3), int64(4), object(9)
memory usage: 38.9+ MB

In [ ]:
data
# data.drop(318437)  // Exemplo de como Apagar a ultima linha (Claro, que foi contado quantas linhas tinha).

,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,8,c,3,Z,3,radiotherapy,R,F,2.0,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,c,5,Z,2,radiotherapy,S,F,2.0,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,10,e,1,X,2,anesthesia,S,E,2.0,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,26,b,2,Y,2,radiotherapy,R,D,2.0,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,26,b,2,Y,2,radiotherapy,S,D,2.0,7.0,Trauma,Extreme,2,51-60,5558.0,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318433,6,a,6,X,3,radiotherapy,Q,F,4.0,23.0,Emergency,Moderate,3,41-50,4144.0,11-20
318434,24,a,1,X,2,anesthesia,Q,E,4.0,8.0,Urgent,Moderate,4,81-90,6699.0,31-40
318435,7,a,4,X,3,gynecology,R,F,4.0,10.0,Emergency,Minor,3,71-80,4235.0,11-20
318436,11,b,2,Y,3,anesthesia,Q,D,3.0,8.0,Trauma,Minor,5,11-20,3761.0,11-20
318437,19,a,7,Y,5,gynecology,Q,C,2.0,8.0,Emergency,Minor,2,11-20,4752.0,0-10

In [ ]:
str_arr = ['Hospital_code', 'City_Code_Hospital', 'City_Code_Patient']

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Hospital_type_code                 318438 non-null  object
 1   Hospital_region_code               318438 non-null  object
 2   Available Extra Rooms in Hospital  318438 non-null  int64
 3   Department                         318438 non-null  object
 4   Ward_Type                          318438 non-null  object
 5   Ward_Facility_Code                 318438 non-null  object
 6   Bed Grade                          318325 non-null  float64
 7   Type of Admission                  318438 non-null  object
 8   Severity of Illness                318438 non-null  object
 9   Visitors with Patient              318438 non-null  int64
 10  Age                                318438 non-null  object
 11  Admission_Deposit                  318438 non-null  float64
 12  Stay                               318438 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 31.6+ MB

In [ ]:
data2 = pd.read_csv("/content/train_data.csv")
data2.isnull().sum()
#data2.drop(['case_id','patientid'], axis = 1, inplace=True)  
str_arr = ['Hospital_code', 'City_Code_Hospital', 'City_Code_Patient']
#data2.info()

for i in str_arr:
  data2[i] = data2[i].astype(str)

data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  object
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  object
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  318438 non-null  object
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(2), int64(4), object(12)
memory usage: 43.7+ MB

In [ ]:

data.Admission_Deposit # ou # data2["Admission_Deposit"]

0         4911.0
1         5954.0
2         4745.0
3         7272.0
4         5558.0
           ...
318433    4144.0
318434    6699.0
318435    4235.0
318436    3761.0
318437    4752.0
Name: Admission_Deposit, Length: 318438, dtype: float64

In [ ]:
#numeric_feature = ['Admission_Deposit']
#numeric_transformer = Pipeline(steps=[('scaler'),StandardScarler()])


# from sklearn.preprocessing import StandardScaler

numeric_feature = ['Admission_Deposit']
numeric_transformer = Pipeline(steps=[('scaler', StandardScaler())])
proprocessor = ColunTransformer( transformers=['num', numeric_transformer, numeric_feature))
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

data2[Admission_Deposit] = pd.DataFrame(pipeline.fir_transform(data2))



#numeric_transformer

SyntaxError: ignored

In [ ]:
# Verificar quais são as colunas em comum entre os dataframes train_data e test_data para saber quais features serão usadas no modelo.